# Terraform state files
*.tfstate
*.tfstate.backup

# Crash recovery & plan files
crash.log
*.tfplan

# Override & local config files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/

# Sensitive variable files
terraform.tfvars
*.auto.tfvars

# Editor / OS files
*.swp
*.swo
.DS_Store
.vscode/
.idea/
